build/
_freeze/
slides.pdf
slides.html
slides_files/
*.tex
*.log
*.aux
*.out
*.nav
*.snm
*.toc
*.vrb
*.pbs.o*
*.pbs.e*
venv/

/.quarto/
**/*.quarto_ipynb

# Obsidian transient files
vault/.obsidian/workspace.json
vault/.obsidian/cache
vault/.obsidian/graph-cache.json
